:root {
    --azul: #0071b7;
    --blanco: #FFF;
    --naranja: #ff4f1e;
}
html {
    font-size: 62.5%; /** 1REM = 10pX **/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  

body {
    background-color: var(--azul);
    font-family:  'Lato', sans-serif;
    font-size: 1.6rem;
}

h1, h2 {
    color: var(--blanco);
    text-align: center;
    margin: 5rem 0;
    padding: 1rem;
}
.caja-curso {
    background-color: var(--naranja);
    text-align: center;
    color: var(--blanco);
    padding: 5rem;

}
.caja-curso h1 {
    margin: 0;
}
.caja-curso p {
    font-size: 2.4rem;
}
.caja-curso a {
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    padding: 0;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.box {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1rem solid #bb2b03;
}

.contenedor > div {
    background-color: var(--blanco);
    padding: 5rem;
}


/* 1 Display Flex */
.d-flex {
    display: flex;
}

/* 2 */

.d-flex-2 { 
    display: flex;
    flex-direction: column;
}
/* 3 */
.d-flex-3 { 
    display: flex;
    justify-content: flex-end;
}

/* 4   */
.d-flex-4 {
    display: flex;
    flex-direction: column;
    height: 1550px;
    justify-content: space-around;
}

/* 5 */
.d-flex-5 {
    display: flex;
    height: 700px;
    align-items: flex-start;
    /* align-items: stretch;
    align-items: flex-end;
    align-items: center; */

}

/* 6 */
.d-flex-6 {
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items: flex-start;
}

/* 7   ejemplo como row*/
.d-flex-7 {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}

/* 7   ejemplo como column*/
.d-flex-7 {
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
/* 8   basis*/
.d-flex-8 {
    display: flex;

}
.d-flex-8 .box {
    flex-basis: 33.3%;

}

/* 9 gap y calc */
.d-flex-9 {
    display: flex;
    gap: 2rem;
}
.d-flex-9 .box {
    flex-basis: 33.3%;
    
}
/* 10 flex Wrap */
.d-flex-10 {
    display: flex;
    flex-wrap: wrap;
}

.d-flex-10 .box {
    flex-basis: 33.3%;
}

/* 11 flex grow */
.d-flex-11 {
    display: flex;
}

.d-flex-11 .box {
    flex-grow: 1;
}

/* 12  */

.d-flex-12 {
    display: flex;
}
.d-flex-12 .box {
    flex-grow: 1;
    flex-basis: 300px;
}

.d-flex-12 .box:nth-child(3) {
    flex-shrink: 2;
}

/* 13 */
.d-flex-13 {
    display: flex;
}

.d-flex-13 .box {
    flex: 1; /*flex-grow, flex-shirink, flex-basis*/
}